<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graduation.project.IQInterviewKids">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.graduation.project.IQInterviewKids.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.graduation.project.IQInterviewKids.activity.IQTestActivity"
            android:label="IQ Test"
            android:theme="@style/ActivityAppTheme" />
        <activity
            android:name="com.graduation.project.IQInterviewKids.activity.ResultActivity"
            android:label="Test Result"
            android:theme="@style/ActivityAppTheme"></activity>
        <activity
            android:name="com.graduation.project.IQInterviewKids.activity.InterViewQuestionActivity"
            android:label="Interview Question"
            android:theme="@style/ActivityAppTheme">
            ></activity>
    </application>

</manifest>